---
import { log } from "astro/dist/core/logger/core";

const API_URL = "http://127.0.0.1:1337/api/hello-collections";
const TOKEN = '03043a2eb2717357c687fa47232bfc108856ee07df679ceaab9bf47427ef8cdb2c5f2cb0855c6b698a44ac2d59ef6697b14058a5d4441c62e2cb168ab90ba48b0154fd47ea9c71dad9f72c22e8c95cdd56141ed5fc4455b97db84d43f13422d24bb05c47dad6796c99df9e5fc82f00d2f53fc5ead417d3c436b8eea3b89f4252'

const response = await fetch(API_URL, {
  headers: {
    'Authorization': `Bearer ${TOKEN}`
  }
});
const { data } = await response.json();
---

<section>
  <h2>Data from Strapi</h2>
  <ul>
    {data.map(item => (
      <li>
        {item.attributes.language}: {item.attributes.greeting}
      </li>
    ))}
  </ul>
</section>
