---
import { log } from "astro/dist/core/logger/core";

const API_URL = "http://127.0.0.1:1337/api/hello-collections";
const TOKEN = '66753832c372e89200a86bd47c5bbc5ab2aaa44117b11d6354cc84329be654fd0d092e3fcb6f2d1f617e4d33b3681aba038d69fb6aecf675101783f5fa4dc9524981cf5597744467476d84ff3edc2dc92622154ca14c3ebd0cb2d75278dbc3d399fbe99d7b7775dbf63095505fd01fff13393d6162ede8322cf687c837510c32'

const response = await fetch(API_URL, {
  headers: {
    'Authorization': `Bearer ${TOKEN}`
  }
});
const { data } = await response.json();
console.log(data, 'data');
---

<section>
  <h2>Data from Strapi</h2>
  <ul>
    {data.map(item => (
      <li>
        {item.attributes.language}: {item.attributes.greeting}
      </li>
    ))}
  </ul>
</section>
